
h1{
    text-align: center;
}
.passwordContainer{
    display: flex;
    justify-content: space-around;
    
}
.generatedPassword{
    width: 90%;
    height: 1.5rem;
    background-color: #f3f3f3;
    border: 1px solid black;
}
.pwBtn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px;
}
.copyBtn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px;
}